/* ========================================== */
/* 自定义字体声明                               */
/* ========================================== */

@font-face {
  font-family: "zpix";
  src: url("/assets/fonts/zpix.ttf") format("truetype");
}

@font-face {
  font-family: "pixel-mplus";
  src: url("/assets/fonts/PixelMplus10-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "pixel-mplus-bold";
  src: url("/assets/fonts/PixelMplus10-Bold.ttf") format("truetype");
}
